<div class="panel panel-default">
	<!-- Default panel contents -->
	<div class="panel-heading"><h3>$title</h3></div>
	<div class="panel-body">
		<div class="btn-toolbar">
			<a href="#" class="btn btn-default" dtx-name="renameVideo">Rename Video</a>
			<a href="#" class="btn btn-default" dtx-name="deleteVideo">Delete Video</a>
		</div>
		<h4>Clips</h4>
		<h4>Editing</h4>
		<h4>Render and Upload</h4>
		<div class="container">
			<ul id="addressbar" class="breadcrumb"></ul>
		</div>
		<div class="container">
			<ul style="margin: 5px;" id="files"></ul>
		</div>
	</div>
</div>